<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>
    <lasso-head/>
</head>
<body>
<${input.main}/>
<lasso-body/>
</body>
</html>